* {
    transition: 1s ease;
}

section {
    min-height: calc(100vh - 4rem);
}

html {
    scroll-behavior: smooth;
}

#home {
    background: url('assets/images/heroBackground.jpg');
    background-position: top;
    background-size: cover;
}

.hero-liner {
    background: rgba(255, 255, 255, 0.6);
}

.dark .hero-liner {
    background: rgba(0, 0, 0, 0.6);
}

.scrolled {
    background: #eee;
    box-shadow: 2px 0 10px 1px gray;
}

.dark .scrolled {
    background: #1f2937;
    box-shadow: 2px 0 10px 1px black;
}

.nav-btns .active {
    color: black;
}

#home::after {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: -50%;
    box-shadow: inset 0 -30px 30px #f8fafc;
}

.dark #home::after {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: -50%;
    box-shadow: inset 0 -30px 30px #1f2937;
}